<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://secureprintportal.s3.us-west-1.amazonaws.com/production/assets/5966561450122033bd4456f8/imageLocker/blog-description/5f11c366a53d4d3a831471de/blog/sports_banners.png);">
  <div class="container">
    <h1>Your <strong>Passport</strong> to <strong>all Sports</strong></h1>
    <p>Play anything, we've got you</p>
  </div>
</div>

<div class = "mt-4">
  <h2><strong>Explore Listings</strong></h2>
</div>
  <% @equipments.each do |equipment| %>
    <%= link_to equipment_path(equipment) do %>
      <div class = "my-4 position-relative">
        <div class="card-product">
           <%= cl_image_tag equipment.photo.key, crop: :fill %>
          <div class="card-product-infos">
              <h4><%= equipment.name %></h4>
              <p>$<strong><%= equipment.price_per_day / 100 %></strong> per day</p>
          </div>
          <div class='card-username position-absolute'>
            <%= equipment.user.username unless equipment.user.username.nil? %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
