<div class="row">
  <div class="col-6">
    <%= cl_image_tag @equipment.photo.key, crop: :fill, class: 'img-fluid' %>
  </div>
  <div class="col-6">
    <h2 class='mt-3'><strong>Rent <%= @equipment.name %> from <%= @equipment.user.username %></strong></h2>
    <div class='form-login mt-0'>
      <div id='equipment-booking-dates' data-unavailable="<%= @equipment.unavailable_dates.to_json %>">
          <% if current_user.id != @equipment.user_id  %>
             <%= simple_form_for([@equipment, @rental], remote: true ) do |f| %>
                 <%= f.input :start_date, as: :string, type: :text %>
                 <%= f.input :end_date, as: :string, type: :text %>
                 <div> Total Price: $<span id = "total_price">0.00</span> </div>
                 <%= f.submit "Rent", class: "btn btn-primary"%>
              <% end %>
          <% end %>
          <input type="hidden" id="price_per_day" value="<%= @equipment.price_per_day %>">
       </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= javascript_pack_tag 'total_price', 'data-turbolinks-track': 'reload', defer: true %>

 <!-- "Rent", class: "btn btn-primary" -->
<!-- "Rent", new_equipment_rental_path , class: "btn btn-primary" -->
