<div class="container col-6">
  <h2 class='mt-3'><strong>Rent <%= @equipment.name %></strong></h2>
  <div id='equipment-booking-dates' data-unavailable="<%= @equipment.unavailable_dates.to_json %>">
      <% if current_user.id != @equipment.user_id  %>
         <%= simple_form_for([@equipment, @rental]) do |f| %>
             <%= f.input :start_date, as: :string, type: :text %>
             <%= f.input :end_date, as: :string, type: :text %>
             <!-- <div> Total Price: $<span id = "total_price">0.00</span> </div> -->
             <%= f.submit "Rent", class: "btn btn-primary" %>
          <% end %>
      <% end %>
      <input type="hidden" id="price_per_day" value="<%= @equipment.price_per_day %>">
   </div>
</div>
<%#= javascript_pack_tag 'total_price', 'data-turbolinks-track': 'reload', defer: true %>
